@model List<EntityLayer.Concrete.Images>
<div class="col-md-5">
    <div class="product-slider-single normal-slider">
        @foreach (var item in Model)
        {
            <img src="~/Site/img/@item.ImageName" alt="Product Image">
        }
    </div>
    <div class="product-slider-single-nav normal-slider">
        @foreach (var item in Model)
        {
            <div class="slider-nav-img"><img src="~/Site/img/@item.ImageName" alt="Product Image"></div>
        }
        </div>
</div>
