@model EntityLayer.ViewModels.RegisterViewmodel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="register-form">
                    <form asp-action="Register" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Adınız</label>
                            <input class="form-control" type="text" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Soyadınız</label>
                            <input class="form-control" type="text" asp-for="SurName">
                            <span asp-validation-for="SurName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Mail Adresiniz</label>
                            <input class="form-control" asp-for="Mail">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Telefon Numaranız</label>
                            <input class="form-control" type="tel" asp-for="PhoneNumber" id="tlfn">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Şifreniz</label>
                            <input class="form-control" id="password" type="password" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="col-md-6">
                            <label>Şifre Tekrar</label>
                            <input class="form-control" id="confirm_password" type="password" asp-for="ConfirmPassword"><span id='message'></span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Kayıt Ol</button>
                        </div>
                        <br />
                        <br />
                        <div class="txt1" style="color:red">
                            @ViewBag.Message
                        </div>
                    </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>


<script>

    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val() && $('#password').val() != null) {
            $('#message').html('Şifreler Eşleşiyor').css('color', 'green');
        } else
            $('#message').html('Şifreler Eşleşmiyor').css('color', 'red');
    });

    $('#tlfn').inputmask("(599) 999-9999");
</script>

